doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |   
    title Chat
    |   
    style
      include ../css/style.css 
    |
    style
      include ../css/sty.css
  body
    .topnav
      a.active(href='/') Home
      |   
      a(href='/guide') Guide
      |
      a(href='/chat') Chat
      |
      if per == 1   
        a(href='/Rregister') Register
      |
      form(action='/cerca', method='GET')   
        input(type='text', placeholder='Search..', name='ricerca')
    ul.pages
      li.chat.page
        .chatArea
          ul.messages
        |       
        input.inputMessage(placeholder='Type here...')
      |     
      li.login.page
        .form
          h3.title(id='nome') #{nome}
          |         
          input.usernameInput(type='text', maxlength='14')
    |   
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    |   
    script(src='/socket.io/socket.io.js')
    |   
    script
      include ../js/main.js