html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    title File Transfer
    |   
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    |   
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    |
    //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    style
      include ../css/sty.css
  |   
  body
    .topnav
      a.active(href='/') Home
      |   
      a(href='/guide') Guide
      |   
      a(href='/upload') Upload
      |
      a(href='/chat') Chat
      |
      a(onclick='openForm()') PopUp
      |
      if per == 1   
        a(href='/Rregister') Register
      |
      if !searchR
        a.down-arrow(href='#bottom', data-toggle='tooltip', title='TO BOT')
          span.fa.fa-chevron-down
      |
      form(action='/cerca', method='GET')   
        input(type='text', placeholder='Search..', name='ricerca')
    .container
      .row
        .col-md-6.m-auto
          br
      .row
        #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
          h1 #{msg}
          a#v-pills-news-tab.nav-link.active(data-toggle='pill', href='#v-pills-news', role='tab', aria-controls='v-pills-news', aria-selected='true') News
          |   
          a#v-pills-tesis-tab.nav-link(data-toggle='pill', href='#v-pills-armaniP', role='tab', aria-controls='v-pills-tesis', aria-selected='false') Tesis
          |   
          a#v-pills-versaceC-tab.nav-link(data-toggle='pill', href='#v-pills-versaceC', role='tab', aria-controls='v-pills-versaceC', aria-selected='false') Versace Cassa
          |   
          a#v-pills-versaceP-tab.nav-link(data-toggle='pill', href='#v-pills-versaceP', role='tab', aria-controls='v-pills-versaceP', aria-selected='false') Versace Pos
          |
          a#v-pills-altro-tab.nav-link(data-toggle='pill', href='#v-pills-altro', role='tab', aria-controls='v-pills-altro', aria-selected='false') Altro
          br
          form(action='/logout', method='POST')
              br
              input(type='submit', value='LogOut', class='btn btn-primary')  
        .col-md-6.m-auto  
          #v-pills-tabContent.tab-content
            #v-pills-news.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-news-tab')
              
            |   
            #v-pills-tesis.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-tesis-tab')
              //iframe(src='www.tesis.binhexs.it', height='200', width='300')
              //script
                include ../js/frame.js
              a(href='https://tesis.binhexs.it/Tesis/UIClassicASP/default.htm') Tesis
            |   
            #v-pills-versaceC.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-versaceC-tab')
                        
            |   
            #v-pills-versaceP.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-versaceP-tab')
                       
            |
            #v-pills-altro.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-altro-tab')
            |
    #myForm.chat-popup
      h1 Chat
        |     
        label(for='msg')
          b Message
        |     
        textarea(placeholder='Type message..', name='msg', required='')
        |     
        button.btn(type='submit') Send
        |     
        button.btn.cancel(type='button', onclick='closeForm()') Close
    .footer.text-center
      if !err
        if !searchR
          hr
          a.up-arrow(href='#', data-toggle='tooltip', title='TO TOP',  id ='bottom')
            span.fa.fa-chevron-up
      br
      br
      |   
      p
        | Made By  
        a(href='#', data-toggle='tooltip') FT

    script
      include ../js/scri.js
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')