html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    title File Transfer
    |   
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    |   
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    |
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
    style
      include ../css/sty.css
  body
    .topnav
      a.active(href='/') Home
      |   
      a(href='/guide') Guide
      |   
      a(href='/upload') Upload
      |
      a(href='/chat') Chat
      |
      if per == 1   
        a(href='/Rregister') Register
      |
      form(action='/cerca', method='GET')   
        input(type='text', placeholder='Search..', name='ricerca')
    br
    .container
      .row
        .col-md-6.m-auto    
          .login-page
            br
            | Registra un nuovo utente
            br
            .form    
              form(action='/register', method='POST')
                input(type='text', class='form-control', placeholder='username', name ='nickname', id='nickname')
                |       
                br
                |
                input(type='password', class='form-control', placeholder='password', name='password', id='password')
                |
                br
                |       
                input(type='submit', value='Registra', class='btn btn-danger')
                |      
                | #{err}