html
  head
    //link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
    title File Transfer
    |   
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    |   
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    |
    style
      include ../css/sty.css
  body
    //vecchia nav
    //.topnav
      a.active(href='/') Home
      |   
      a(href='/guide') Guide
      |   
      a(href='/upload') Upload
      |
      a(href='/chat') Chat
      |
      if per == 1   
        a(href='/Rregister') Register
      |
      form(action='/cerca', method='GET')   
        input(type='text', placeholder='Search..', name='ricerca')
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') Home
      |   
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navb')
        span.navbar-toggler-icon
      |   
      #navb.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/guide') Guide
          li.nav-item
            a.nav-link(href='/upload') Upload
          li.nav-item
            a.nav-link(href='/chat') Chat
          li.nav-item
            a.nav-link(href='#' onclick='openForm()') PopUp
          li.nav-item
            if per == 1   
              a.nav-link(href='/Rregister') Register
          li.nav-item
            if !searchR
              a.nav-link.down-arrow(href='#bottom', data-toggle='tooltip', title='TO BOT')
                span.fa.fa-chevron-down
        |     
        form.form-inline.my-2.my-lg-0(action='/cerca', method='GET')
          input.form-control.mr-sm-2(type='text', placeholder='Search', name='ricerca')
          |       
          button.btn.btn-success.my-2.my-sm-0(type='submit') Search
    br
    .container
      .row
        .col-md-6.m-auto    
          .login-page
            br
            | Registra un nuovo utente
            br
            .form    
              form(action='/register', method='POST')
                input(type='text', class='form-control', placeholder='username', name ='nickname', id='nickname')
                |       
                br
                |
                input(type='password', class='form-control', placeholder='password', name='password', id='password')
                |
                br
                |  
                .col-md-6.m-auto(style='align=left;')
                  select.browser-default.custom-select(name ='sList',id='sList')
                    option(value = '',disabled selected hidden) Team
                    |   
                    option(value='armaniCassa') HD Retail
                    |   
                    option(value='armaniPos') Generalisti
                    |   
                    option(value='versaceCassa') CQC
                    |   
                    option(value='versacePos') Sistemisti
                  br
                  br     
                input(type='submit', value='Registra', class='btn btn-danger')
                |      
                | #{err}
        br
        .col-md-6.m-auto
        .col-md-6.m-auto
          if ricerca != undefined
            .btn-group.open
              a.btn.btn-primary(href='#')
                i.fa.fa-user.fa-fw
                |  User
              |   
              a.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', href='#')
                span.fa.fa-caret-down(title='Toggle dropdown menu')
              |   
              ul.dropdown-menu
                li
                  a(href='#')
                    i.fa.fa-pencil.fa-fw
                    |  Edit
                |     
                li
                  a(href='#')
                    i.fa.fa-trash-o.fa-fw
                    |  Delete
                |     
                li
                  a(href='#')
                    i.fa.fa-ban.fa-fw
                    |  Ban
                |     
                li.divider
                |     
                li
                  a(href='#')
                    i.fa.fa-unlock
                    |  Make admin
    #myForm.chat-popup
      div
        a.myA(href='/chat' style='color:white') Fullscreen
        i.fa.fa-times.myFa(onclick='closeForm()' aria-hidden='true' style ='right: 20px')  

    script
      include ../js/scri.js
